<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827612953825-112itjglfdphpjmojlcvuqc5fagbr95s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827612953825-112itjglfdphpjmojlcvuqc5fagbr95s</string>
	<key>API_KEY</key>
	<string>AIzaSyC5lVz-TYGj2XhCeGgK3pGIojHD8Dvf3n0</string>
	<key>GCM_SENDER_ID</key>
	<string>827612953825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hugo.trashification</string>
	<key>PROJECT_ID</key>
	<string>trashificationlogin</string>
	<key>STORAGE_BUCKET</key>
	<string>trashificationlogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827612953825:ios:5572939e0fe61c95044ba0</string>
	<key>DATABASE_URL</key>
	<string>https://trashificationlogin.firebaseio.com</string>
</dict>
</plist>